
.table-hover > tbody > tr.selected:hover > td {
    background-color: lightgray;
    /*font-weight: bold;*/
    color: brown
}
.table-hover > tbody > tr.selected > td {
	background-color: lightgray;
	/*font-weight: bold;*/
	color: brown
}
.bgimg {
    background-image: url('emptyBackground.png');
    background-repeat: no-repeat;
    width: 102px;
    margin-bottom: 3px;
    font-size:smaller;
}
.bgimg img {
    vertical-align: top;
    
}

.accordion-toggle {
    text-decoration: none !important
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #CB002B;
	color: white;
	text-align: right;
	text-shadow: 2px 2px 4px #000000;
    z-index:99;
}

button  {
    width: 7em;
}

.modal-title  button {
    width: 2em;
}