
.table-hover > tbody > tr.selected:hover > td {
    background-color: red;
    font-weight: bold;
    color: white
}
.table-hover > tbody > tr.selected > td {
    background-color: red;
    font-weight: bold;
    color: white
}