<div class="panel panel-default ng-scope">
	<div class="panel-heading"><strong>Crea domanda e invia email</strong> <span class="badge ng-binding"></span></div><div class="panel-body">
		<div class="input-group input-group-sm" style="width: 100%; padding-bottom: 8px">
			<div>
				<div  style="margin-left: 10px; ">
					<div class="form-group">
						<table>
							<tr><th colspan="2"><label for="sondaggio">Sondaggio</label></th></tr>
							<tr><td><select style="width: 300px" class="form-control" id="sondaggio" name="sondaggio" ng-options="s.TitoloSondaggio for s in Sondaggi track by s.IdSondaggio" ng-model="selectedSondaggio" ng-required="true" ng-change="updatedomande(selectedSondaggio)"></select></td>
									<td>&nbsp;&nbsp;{{selectedSondaggio.SottoTitoloSondaggio}} {{selectedSondaggio.DescrizioneSondaggio}}</td>
								</tr>
						</table>
					</div>
					<div class="form-group">
						<table>
							<tr><th colspan="2"><label for="domanda">Domanda</label></th></tr>
							<tr><td><select ng-disabled="!selectedSondaggio" style="width: 300px" class="form-control" id="domanda" name="domanda" ng-options="d.TitoloDomanda for d in Domande track by d.IdDomanda" ng-model="selectedDomanda" ng-required="true"></select></td>
									<td>&nbsp;&nbsp;{{selectedDomanda.IdDomanda}}</td></tr>
						</table>
					</div>
					<div class="form-group">
						<table>
							<tr>
								<th colspan="2">
									<label for="utente">Utente</label>
								</th>
							</tr>
							<tr><td><select style="width: 300px" class="form-control" id="utente" name="utente" ng-options="d.CognomeNome for d in Utenti track by d.IdUtente" ng-model="selectedUtente" ng-required="true"></select></td>
									<td>&nbsp;&nbsp;{{selectedUtente.IdUtente}}</td></tr>
						</table>
					</div>

					<div>

						<!--sul salva genera la riga su db e manda mail con link con id Risposta generato -->
						<div>&nbsp;</div>
							<button style="margin-top: -10px" type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!form.$valid">Salva</button>
							<button style="margin-top: -10px" type="button" class="btn btn-default" ng-click="annulla(Risposta)">Annulla</button>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>