<div style="margin-left: 10px; margin-top: 0px">
	<div>ANTEPRIMA:</div>

	<div style="background: #d9534f; margin-top: -20px; color: #fff">
		<div style="margin-left: 20px">
			<h1>{{Sondaggio.TitoloSondaggio}}</h1>
			<h2>{{Sondaggio.SottoTitoloSondaggio}} {{Sondaggio.DescrizioneSondaggio}}</h2>
			<div>&nbsp;</div>
		</div>
	</div>
	<div style="background: #ffffff; color: #000; margin-left: 10px; color: #fff">
		<h2 style="color: #000">Cognome e Nome di chi compila la recensione</h2>
		<h3 style="color: #000">{{Sondaggio.NoteSondaggio}}</h3>
		<span style="font-size: 30px; color: #d9534f" uib-rating ng-model="" max="5" read-only="isReadonly" on-hover="hoveringOver(value)"
					on-leave="overStar = null" titles="['Pessimo','Insufficiente','Buono', 'Discreto', 'Ottimo']" aria-labelledby="default-rating"></span>
		<div style="margin-right: 20px">
			<textarea type="text" style="height: 200px;" rows="5" class="form-control" id="TestoRisposta" name="TestoRisposta" placeholder="Prova a scrivere qui la tua recensione per vedere il risultato" ng-model="Risposta.TestoRisposta"></textarea>
		</div>
	</div>

	<footer id="footer" class="row">

		<div class="col-xs-7" style="height: 30px;">
			<div><h1>Elenco sedi da recensire: </h1></div>
			<div><button style="margin-top: -10px" type="button" class="btn btn-default" ng-click="create()">Nuovo</button></div>
			<hr>
			<div ng-repeat="s in ListaSondaggi" style="height: 40px"><button style="margin-top: 0px" type="button" class="btn btn-danger" ng-click="delete({{s}})">Elimina</button>&nbsp; &nbsp;<a href="/#!/sondaggio/{{s.IdSondaggio}}">{{s.TitoloSondaggio}} - {{s.SottoTitoloSondaggio}} - {{s.DescrizioneSondaggio}}</a></div>
		</div>
		<div class="col-xs-4" style="height: 30px;">
			<form name="form" role="form">
				<div class="form-group">
					<div style="margin-left: 0px">
						<h3>Titolo Sondaggio</h3>
						<input type="text" class="form-control" id="TitoloSondaggio" name="TitoloSondaggio" placeholder="TitoloSondaggio" ng-model="Sondaggio.TitoloSondaggio">
						<h3>SottoTitolo Sondaggio</h3>
						<input type="text" class="form-control" id="SottoTitoloSondaggio" name="SottoTitoloSondaggio" placeholder="SottoTitoloSondaggio" ng-model="Sondaggio.SottoTitoloSondaggio">
						<h3>Descrizione Sondaggio</h3>
						<input type="text" class="form-control" id="DescrizioneSondaggio" name="DescrizioneSondaggio" placeholder="DescrizioneSondaggio" ng-model="Sondaggio.DescrizioneSondaggio">
						<div>&nbsp;</div>
						<input type="text" class="form-control" id="NoteSondaggio" name="NoteSondaggio" placeholder="NoteSondaggio" ng-model="Sondaggio.NoteSondaggio">
						<div>&nbsp;</div>
						<input type="text" class="form-control" id="UrlSondaggio" name="UrlSondaggio" placeholder="UrlSondaggio" ng-model="Sondaggio.UrlSondaggio">
					</div>
					<button style="margin-top: 10px" type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!form.$valid">Salva</button>
					<button style="margin-top: 10px" type="button" class="btn btn-default" ng-click="close()">Annulla</button>
				</div>
			</form>
		</div>
	</footer>
</div>
