	<div class="panel panel-default ng-scope">
	<div class="panel-heading"><strong>Elenco sedi</strong> <span class="badge ng-binding"></span></div><div class="panel-body">
		<div class="input-group input-group-sm" style="width: 100%; padding-bottom: 8px">
			<div class="col-xs-8">
				<div><button style="margin-top: -10px" type="button" class="btn btn-default" ng-click="create()">Nuovo</button></div>
				<table class="table table-striped table-hover table-condensed">
					<thead>
					<tr><th></th>
						<th>TitoloSondaggio</th>
						<th>SottoTitoloSondaggio</th>
						<th>DescrizioneSondaggio</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="s in ListaSondaggi" ng-click="detail(s.IdSondaggio)" role="button" ng-class="{selected: s.IdSondaggio === idSondaggioSelezionato}">
						<td><button style="margin-top: 0px" type="button" class="btn btn-danger" ng-click="delete(s)">Elimina</button>&nbsp;</td>
						<td>{{s.TitoloSondaggio}}</td>
						<td>{{s.SottoTitoloSondaggio}}</td>
						<td>{{s.DescrizioneSondaggio}}</td>
					</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
	</div>

<div class="panel panel-default ng-scope">
	<div class="panel-heading"><strong>Modifica</strong> <span class="badge ng-binding"></span></div><div class="panel-body">
		<div class="input-group input-group-sm" style="width: 100%; padding-bottom: 8px">
			<div class="col-xs-8">
				<form name="form" role="form">
					<div class="form-group">
						<div style="margin-left: 0px">
							<h3 style="font-size: 15px; font-weight: bold ">Titolo</h3>
							<input type="text" class="form-control" id="Titolo" name="Titolo" placeholder="Titolo" ng-model="Sondaggio.TitoloSondaggio">
							<h3 style="font-size: 15px; font-weight: bold ">Sottotitolo</h3>
							<input type="text" class="form-control" id="SottoTitolo" name="SottoTitolo" placeholder="Sotto" ng-model="Sondaggio.SottoTitoloSondaggio">
							<h3 style="font-size: 15px; font-weight: bold ">Descrizione</h3>
							<input type="text" class="form-control" id="Descrizione" name="Descrizione" placeholder="Descrizione" ng-model="Sondaggio.DescrizioneSondaggio">
							<h3  style="font-size: 15px; font-weight: bold ">Note</h3>
							<input type="text" class="form-control" id="Note" name="Note" placeholder="Note" ng-model="Sondaggio.NoteSondaggio">
							<h3  style="font-size: 15px; font-weight: bold ">Url Sondaggio</h3>
							<input type="text" class="form-control" id="Url" name="Url" placeholder="Url" ng-model="Sondaggio.UrlSondaggio">
							<h3  style="font-size: 15px; font-weight: bold ">Servizi</h3>
							<textarea type="text" style="height: 100px;" rows="3" class="form-control" id="Servizi" name="Servizi" placeholder="Servizi" ng-model="Sondaggio.ListaServizi"></textarea>
						</div>
						<button style="margin-top: 10px" type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!form.$valid">Salva</button>
						<button style="margin-top: 10px" type="button" class="btn btn-default" ng-click="close()">Annulla</button>
					</div>
				</form>
				</div>
		</div>
	</div>
</div>


<div class="panel panel-default ng-scope">
	<div class="panel-heading"><strong>Anteprima</strong> <span class="badge ng-binding"></span></div><div class="panel-body">
		<div class="input-group input-group-sm" style="width: 100%; padding-bottom: 8px">
			<div class="col-xs-8">
				<div style="background: #d9534f; color: #fff">
					<div style="margin-left: 20px">
						<h1>{{Sondaggio.TitoloSondaggio}}</h1>
						<h2>{{Sondaggio.SottoTitoloSondaggio}} {{Sondaggio.DescrizioneSondaggio}}</h2>
					</div>
					<div style="margin-left: 20px" ng-show="!Sondaggio.TitoloSondaggio">
						<h1><i>Titolo</i></h1>
						<h2><i>Sotto Titolo </i></h2>
					</div>
					<div>&nbsp;</div>
				</div>
				<div style="background: #ffffff; color: #000; margin-left: 10px; color: #fff">
					<h2 style="color: #000">Cognome e Nome di chi compila la recensione</h2>
					<h3 style="color: #000">{{Sondaggio.NoteSondaggio}}</h3>
					<span style="font-size: 30px; color: #d9534f" uib-rating ng-model="Risposta.StelleRisposta" max="5" read-only="isReadonly" on-hover="hoveringOver(value)"
								on-leave="overStar = null" titles="['Pessimo','Insufficiente','Buono', 'Discreto', 'Ottimo']" aria-labelledby="default-rating"></span>
					<div style="margin-right: 20px">
						<textarea type="text" style="height: 100px;" rows="3" class="form-control" id="TestoRisposta" name="TestoRisposta" placeholder="Prova a scrivere qui la tua recensione per vedere il risultato" ng-model="Risposta.TestoRisposta"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

