<div class="panel panel-default ng-scope shadow-lg p-3 mb-5 bg-white rounded col-lg-12 col-md-12  col-sm-12">
	<div class="panel-heading" style="margin-top: -10px; margin-left: -10px; margin-right: -10px"><strong>Valutazione</strong> <span class="badge ng-binding"></span></div><div class="panel-body">
		<div class="input-group input-group-sm" style="width: 100%; padding-bottom: 8px">
			<div class="col-xs-12">
				<div>
					<div class="form-group">
						<label>Rating</label>


						<div>
							<div class="div-organizzazione" ng-repeat="sondaggio in Sondaggi  ">
								<script type="text/ng-template" id="group-template.html">
									<div class="">
										<h4 class="panel-title" style="color:#fa39c3">
											<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
												<span uib-accordion-header ng-class="{'text-muted': isDisabled}">
													{{heading}}
												</span>
											</a>
										</h4>
									</div>
									<div class="panel-collapse collapse" uib-collapse="!isOpen">
										<div class="" style="text-align: right" ng-transclude></div>
									</div>
								</script>
								<uib-accordion close-others="false">
									<div uib-accordion-group class="panel-default" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
										<uib-accordion-heading>
											<div> {{sondaggio.SottoTitoloSondaggio}} </div>
											<div><span> {{sondaggio.DescrizioneSondaggio}} {{sondaggio.Note}} </span><img  ng-src="Content/{{sondaggio.ValutazioneSondaggio.MediaStelleImmagine}}"/></div>
										</uib-accordion-heading>
													<table class="table-condensed" style="width:100%">
														<tbody>
															<tr ng-repeat="domanda in sondaggio.ValutazioneDomande">
																<td style="width: 70%">

																	<uib-accordion close-others="false" >
																		<div uib-accordion-group class="panel-default" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
																			<uib-accordion-heading>
																				<table>
																					<tr>
																						<td style="width: 55%">
																							<p>{{domanda.domanda.TitoloDomanda}}</p>
																							<p></p>
																							<p><img ng-src="Content/{{domanda.MediaStelleImmagine}}" />&nbsp;({{domanda.NumeroFeedback}})</p>
																						</td>
																						<td style="width: 45%">
																							<table style="white-space: nowrap; padding-bottom:13px; font-size:smaller;" >
																								<tr style="margin-bottom:5px">
																									<td>5 stelle&nbsp;</td>
																									<td>
																										<div class="bgimg" style="float: left"><img src="/Content/endbar.png" /><img src="/Content/bar.png" width="{{domanda.cinqueStellePercentuale}}" height="17" /><img src="/Content/endbar.png" /></div>
																									<td>
																										<div style="float: right">&nbsp;{{domanda.cinqueStellePercentuale}}%</div>
																									</td>
																								</tr>
																								<tr>
																									<td>4 stelle&nbsp;</td>
																									<td>
																										<div class="bgimg" style="float: left"><img src="/Content/endbar.png" /><img src="/Content/bar.png" width="{{domanda.quattroStellePercentuale}}" height="17" /><img src="/Content/endbar.png" /></div>
																									<td>
																										<div style="float: right">&nbsp;{{domanda.quattroStellePercentuale}}%</div>
																									</td>
																								</tr>
																								<tr>
																									<td>3 stelle&nbsp;</td>
																									<td>
																										<div class="bgimg" style="float: left"><img src="/Content/endbar.png" /><img src="/Content/bar.png" width="{{domanda.treStellePercentuale}}" height="17" /><img src="/Content/endbar.png" /></div>
																									<td>
																										<div style="float: right">&nbsp;{{domanda.treStellePercentuale}}%</div>
																									</td>
																								</tr>
																								<tr>
																									<td>2 stelle&nbsp;</td>
																									<td>
																										<div class="bgimg" style="float: left"><img src="/Content/endbar.png" /><img src="/Content/bar.png" width="{{domanda.dueStellePercentuale}}" height="17" /><img src="/Content/endbar.png" /></div>
																									<td>
																										<div style="float: right">&nbsp;{{domanda.dueStellePercentuale}}%</div>
																									</td>
																								</tr>
																								<tr>
																									<td>1 stella&nbsp;</td>
																									<td>
																										<div class="bgimg" style="float: left"><img src="/Content/endbar.png" /><img src="/Content/bar.png" width="{{domanda.unaStellaPercentuale}}" height="17" /><img src="/Content/endbar.png" /></div>
																									<td>
																										<div style="float: right">&nbsp;{{domanda.unaStellaPercentuale}}%</div>
																									</td>
																								</tr>
																							</table>
																						</td>
																					</tr>
																				</table>

																			</uib-accordion-heading>
																			
																			<table class="table-striped  table-condensed" style="width:100%">
																				<thead>
																					<tr>
																						<th>Recensioni</th>
																					</tr>
																				</thead>
																				<tbody>
																					<tr ng-repeat="s in domanda.RisposteValide">
																						<td>
																							<div class="col-12 text-truncate">
                                                <a role="button" data-toggle="modal" data-target="#Modal{{s.IdRisposta}}">
                                                  <img ng-src="/Content/{{s.StelleImmagine}}" /> {{s.Utente.CognomeNome}} - {{s.TestoRisposta}}
                                                </a>
																							</div>

																							<div class="modal fade" id="Modal{{s.IdRisposta}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
																								<div class="modal-dialog" role="document">
																									<div class="modal-content">
																										<div class="modal-header">
																											<h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; color: brown">Anteprima</h5>
																											<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Chiudi">
																												<span aria-hidden="true">&times;</span>
																											</button>
																										</div>
																										<div class="panel panel-default ng-scope">
																											<div class="input-group input-group-sm" style="width: 100%; padding-bottom: 0px; margin-top: -20px;">
																												<div style="background: #d9534f; color: #fff">
																													<div style="margin-left: 20px">
																														<h1>{{sondaggio.TitoloSondaggio}}</h1>
																														<h2>{{sondaggio.SottoTitoloSondaggio}} {{sondaggio.DescrizioneSondaggio}}</h2>
																													</div>
																													<div style="margin-left: 20px" ng-show="!sondaggio.TitoloSondaggio">
																														<h1><i>Titolo</i></h1>
																														<h2><i>Sotto Titolo </i></h2>
																													</div>
																													<div>&nbsp;</div>
																												</div>
																												<div style="background: #ffffff; color: #000; margin-left: 10px; color: #fff">
																													<h2 style="color: #000">{{s.Utente.CognomeNome}}</h2>
																													<h3 style="color: #000">{{sondaggio.NoteSondaggio}}</h3>
																													<span style="font-size: 30px; color: #d9534f" uib-rating ng-model="s.StelleRisposta" max="5" read-only="isReadonly"
																																titles="['Pessimo','Insufficiente','Buono', 'Discreto', 'Ottimo']" aria-labelledby="default-rating"></span>
																													<div style="margin-right: 20px">
																														<textarea type="text" readonly="readonly" style="height: 100px;" rows="3" class="form-control" id="TestoRisposta" name="TestoRisposta" placeholder="Prova a scrivere qui la tua recensione per vedere il risultato" ng-model="s.TestoRisposta"></textarea>
																													</div>
																												</div>
																											</div>
																										</div>
																										<div class="modal-footer">
																											<button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
																										</div>
																									</div>
																								</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																			
																		</div>
																</uib-accordion>
																</td>
															</tr>
														</tbody>
														</table>
											</div>
										</uib-accordion>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
